.main-header {
  height: 520px;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  color: #FFFFFF;
  background-color: #eda30e;
  background-image: url("https://www.transparenttextures.com/patterns/food.png");

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
