section {
  width: 100%;
  padding: 1em;
}

section form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section form label {
  margin-bottom: 1em;
}

section form textarea {
  background-color: #f4f1ec;
  outline: none;
  border: none;
  resize: none;

  border-bottom: 3px;
  border-bottom-style: solid;
  border-bottom-color: #3b3b3b;
}

.red {
  color: red;
}

section form div {
  margin-top: 1em;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

section form div output {
  font-family: 'Bungee', cursive;
}

section form div button {
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: 'Bungee', cursive;
  padding: 8px;
  border-radius: 0px;
  border: none;
}

.error {
  color: tomato;
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
  border: 3px;
  border-style: solid;
  border-color: tomato;

  display: flex;
  align-items: center;
  justify-content: center;
}