article {
  border: 3px;
  border-style: solid;
  border-color: #3b3b3b;
  margin-top: 45px;
}

.article-header {
  width: 100%;
  padding: 1em;

  background-color: #f4f1ec;
  background-image: none;
  color: #3b3b3b;
  font-size: 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 300;
}

.avatar {
  margin-right: 20px;
}

.nickname {
  color: #4056A1;
  opacity: 0.5;
}

.article-tweet {
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 20px;

  display: flex;
  align-items: center;
}

.icons-article {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.article-footer {
  margin-left: 1.5em;
  margin-right: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;

  border-top: 3px;
  border-top-style: solid;
  border-top-color: #3b3b3b;
  font-size: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-flag,
.fa-retweet,
.fa-heart {
  color: #4056A1;
  margin-right: 20px;
  float: left;
}

.hover-shadow {
  box-shadow: 10px 10px 5px #4057a1a1;
}

.selected {
  color: #eda30e;
}